{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover"
          name="viewport">
    <meta content="#FFFFFF" name="theme-color">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">

    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/index.css' %}" rel="stylesheet">
    <title>Covid Status 🤪</title>
</head>
<body>


<div id="block-ui">
    <div id="loader"></div>
</div>

<main>
    <h1 class="no-select">Covid Status 🤪</h1>
    <a href= "https://github.com/Orex0v/VK-CovidStatus-Change/blob/master/README.md"
       class="lead badge badge-pill badge-danger no-select">FAQ</a>
    <div class="row" style="margin-bottom: 5%"></div>
    <div class="col-12">Ошибка при выполнении</div>
    <a class="col-12" href="/">Вернуться на главную</a>

</main>

<footer class="mt-auto py-3 footer">
    <span class="text-muted">Сделано <a href="https://github.com/Orex0v">Orex0v</a> с</span> <span class="heart">&#10084;&#65039;</span>
</footer>


</body>
</html>
